{% extends 'base_main.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'style/home.css' %}">
{% endblock %}

{% block content %}


<div class="inicio">
    <h1>!welcome to Toolbox Web!</h1>
    <p>
        Esta pagina fue creada con los siguientes lenguajes de programacion:
    </p>
<ul>
    <li>
        <img src="{% static 'img/lenguajes/html5.svg' %}" alt="HTML" class="icono">
        HTML
    </li>
    <li>
        <img src="{% static 'img/lenguajes/css.svg' %}" alt="CSS" class="icono">
        CSS
    </li>
    <li>
        <img src="{% static 'img/lenguajes/javascript.svg' %}" alt="JavaScript" class="icono">
        JavaScript
    </li>
    <li>
        <img src="{% static 'img/lenguajes/python.svg' %}" alt="Python" class="icono">
        Python
    </li>
</ul>

    <p>
        y el Framework

        <ul>
            <li>
                <img src="{% static 'img/lenguajes/django.svg' %}" alt="Django" class="icono">
                django
            </li>
        </ul>
        <br>
         Espero que sea de utilidad para ustedes.
    </p>
</div>
{% endblock %}